{% load i18n %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

<div dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    {% if last_attempt_status == 'PENDING' %}
    <p>
        {% trans "Your application is being processed, please check back later" as tmsg %}{{tmsg | force_escape}}
    </p>
    {% elif last_attempt_status == 'ACCEPTED' %}
    <p>
        {% trans "Your application is accepted!" as tmsg %}{{tmsg | force_escape}}
    </p>
    {% else %}
        {% if last_attempt_status == 'REJECTED' %}
        <p>
            {% filter force_escape %}
                {% blocktrans %}Your last application was rejected because: {{reason}} but you can apply again{% endblocktrans %}
            {% endfilter %}
        </p>
        {% endif %}
        <form method="post" action="{% url 'custom_student_verification_app:custom-student-verification' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_id_card">
                {% trans "ID Card:" as tmsg %}{{tmsg | force_escape}}
            </label> {{ form.id_photo }}
            <button type="submit" value="Submit">{% trans "Submit" as tmsg %}{{tmsg | force_escape}}</button>
        </form>
    {% endif %}
</div>
